<ezp-top-bar></ezp-top-bar>
<div class="container-fluid admin-container px-0">
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <ezp-admin-side-bar></ezp-admin-side-bar>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <ezp-admin-nav-bar></ezp-admin-nav-bar>
            <!-- Page content-->
            <div class="container-fluid">
                dashboard
            </div>
        </div>
    </div>
</div>