<div class="navbar navbar-expand-lg confer-nav navbar-dark">
  <div class="container-fluid">
    <a href="#" [routerLink]="['/']" class="navbar-brand">EzProcess Solutions</a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between flex-row-reverse" id="navbarCollapse">
      <div class="navbar-nav ml-auto">
        <a href="#" [routerLink]="['/']" class="nav-item nav-link active">Home</a>
        <a href="#" class="nav-item nav-link">About</a>
        <a href="#" class="nav-item nav-link">Service</a>
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Products</a>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">EzCms</a>
            <a href="#" class="dropdown-item">EzWorkflow</a>
            <a href="#" class="dropdown-item">EzTracking</a>
          </div>
        </div>
        <a href="#" class="nav-item nav-link">Contact</a>
      </div>
    </div>
  </div>
</div>
