<div class="news">
  <div class="container">
    <div class="section-header">
      <h2>Latest News</h2>
    </div>
    <div class="news-item row">
      <div class="news-content col-md-12">
        <h2 class="news-title">Lorem ipsum dolor sit amet</h2>
        <div class="news-meta">
          <i class="fa fa-list-alt"></i>
          <a href="">Category</a>
          <i class="fa fa-calendar-alt"></i>
          <p>01-Jan-2045</p>
        </div>
        <div class="news-text d-flex">
          <div class="news-img">
            <img src="https://static.ezprocess.net/img/news-1.jpg" alt="Blog">
          </div>
          <div class="news-desc">
            <p>
              Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte liqum metus
              tortor.
              Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte liqum metus
              tortor
            </p>
            <a class="btn" href="">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="news-item row">
      <div class="news-content col-md-12">
        <h2 class="news-title">Lorem ipsum dolor sit amet</h2>
        <div class="news-meta">
          <i class="fa fa-list-alt"></i>
          <a href="">Category</a>
          <i class="fa fa-calendar-alt"></i>
          <p>01-Jan-2045</p>
        </div>
        <div class="news-text d-flex">
          <div class="news-img">
            <img src="https://static.ezprocess.net/img/news-2.jpg" alt="Blog">
          </div>
          <div class="news-desc">
            <p>
              Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte liqum metus
              tortor.
              Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte liqum metus
              tortor
            </p>
            <a class="btn" href="">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="news-item row">
      <div class="news-content col-md-12">
        <h2 class="news-title">Lorem ipsum dolor sit amet</h2>
        <div class="news-meta">
          <i class="fa fa-list-alt"></i>
          <a href="">Category</a>
          <i class="fa fa-calendar-alt"></i>
          <p>01-Jan-2045</p>
        </div>
        <div class="news-text d-flex">
          <div class="news-img">
            <img src="https://static.ezprocess.net/img/news-3.jpg" alt="Blog">
          </div>
          <div class="news-desc">
            <p>
              Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte liqum metus
              tortor.
              Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte liqum metus
              tortor
            </p>
            <a class="btn" href="">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>